html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Fishy2
  body(style='background-color:black ; width:100% ; heigth: 100% ; margin:0px')
    canvas Get HTML5 canvas support
